body {
    background-image: url('https://url-da-sua-imagem-de-tecnologia-aqui');
    color: silver;
}
.btn-primary {
    background-color: black;
    border-color: black;
}
.btn-primary:hover {
    background-color: silver;
    border-color: silver;
}